<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapzip.ppang.mapzipproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".adapter.FontApplication"
        android:allowBackup="true"
        android:icon="@drawable/egg"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppBaseTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <activity android:name="com.mapzip.ppang.mapzipproject.main.slidingTap" />
        <activity android:name="com.mapzip.ppang.mapzipproject.map.MapActivity" />
        <activity android:name=".activity.ReviewActivity" />
        <activity android:name=".activity.map_setting" />
        <activity android:name=".activity.review_register" />
        <activity android:name=".activity.addfriend" />
        <activity android:name=".activity.friend_home" />
        <activity android:name="com.mapzip.ppang.mapzipproject.map.SearchInLocationActivity" />
        <activity android:name=".activity.suggestActivity" />
        <activity
            android:name=".main.SplashActivity"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.mapzip.ppang.mapzipproject" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->
        <!-- [START gcm_listener_service] -->
        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener_service] -->
        <!-- [START instanceId_listener_service] -->
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener_service] -->
        <!-- [START gcm_registration_service] -->
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false">

        </service>
        <!-- [END gcm_registration_service] -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5c9a4e2a6c9d594c955fe2345d1d114e7db91654" />
    </application>

</manifest>
