<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapzip.ppang.mapzipproject">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:name="com.mapzip.ppang.mapzipproject.FontApplication"
        android:allowBackup="true"
        android:icon="@drawable/egg"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name="com.mapzip.ppang.mapzipproject.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mapzip.ppang.mapzipproject.main.slidingTap" />
        <activity android:name="com.mapzip.ppang.mapzipproject.map.MapActivity" />
        <activity android:name="com.mapzip.ppang.mapzipproject.ReviewActivity" />
        <activity android:name="com.mapzip.ppang.mapzipproject.map_setting" />
        <activity android:name="com.mapzip.ppang.mapzipproject.review_register" />
        <activity android:name="com.mapzip.ppang.mapzipproject.addfriend" />
        <activity android:name="com.mapzip.ppang.mapzipproject.friend_home"/>
        <activity android:name="com.mapzip.ppang.mapzipproject.map.SearchInLocationActivity"/>
        <activity android:name="com.mapzip.ppang.mapzipproject.suggestActivity"/>

    </application>

</manifest>
